.outer-MovieBoard {
    width: 100%;
    /* height: 40vh; */
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
}

.topMid {
    width: 100%;
    height: 475px;
    /* margin-top: 75px; */
    margin-left: 6%;
    margin-right: 6%;
    /* opacity: 0.6; */
    cursor: pointer;
    position: relative;
    text-align: center;
    color: white;
}

.topMid .movieBoardItem {
    opacity: 0.5;
}

.topMid .movieBoardItem .movieBoard-desc {
    top: 63%;
    width: 27%;
    left: 73%;
    
    /* text-align: left; */
}

.topMid .movieBoardItem .movieBoard-desc .inner-desc {
    text-align: right;
    background: linear-gradient(to left, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8), rgba(66, 66, 66, 0.0));
    padding-left: 0;
    padding-right: 15px;
}

.topMid .movieBoardItem .movieBoard-desc .inner-desc h4 {
    /* margin: 0; */
    /* line-height: 1.4;
     */
     display: none;
}

.topMid .movieBoardItem .movieBoard-desc .inner-desc p {
    display: none;
    /* margin: 0; */
    line-height: 1.4;
}

.bot {
  display: flex;
    /* margin-top: 40px; */
    /* width: 88%; */
    display: flex;
    justify-content: space-between;
    /* margin-left: 6%; */
    /* margin-right: 6%; */
    flex-direction: row;
    width: 100%;
}

.bot-left {
    width: 40%;
}

.bot-right {
    width: 60%;
    color: white;
}

.bot-right h2 {
    text-align: right;
    font-size: 1.5rem;
    font-family: 'Alegreya Sans', sans-serif;
    color: #fff;
    line-height: 1.4;
    padding-right: 15px;
}

.bLeft, .bMid, .bRight {
    width: 100%;
    height: 250px;
    border: 2px solid transparent;
    opacity: 0.6;
    transition: all .4s ease-in-out;
}

.bLeft:hover, .bMid:hover, .bRight:hover {
    /* transform: scale(1.01) translateZ(1px); */
    cursor: pointer;
    border-color: orange;
    opacity: 1;
}

.title-section {
    
    height: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding-left: 8vw;
    padding-right: 20vw;
    position: absolute;
    z-index: 1000;
    cursor: default;
    opacity: 1;
    /* background: linear-gradient(to right, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8), rgba(66, 66, 66, 0.0)); */
    background: linear-gradient(90deg,rgba(5,5,5,.8),rgba(15,15,15,.8),rgba(15,15,15,.8), rgba(30,30,30,0));
}

.title-section h2 {
    font-size: 6rem;
    color: #fff;
    /* color: rgb(235, 78, 122); */
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 5vh;
}

.title-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    color: rgb(235, 78, 122);
}

.title-section a {
    width: 20%;
}

.title-section button {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 45px;
    background: rgb(235, 78, 122);
    border: 3px solid rgb(235, 78, 122);
    /* border-color: transparent; */
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.title-section button:hover {
    cursor: pointer;
    background: rgba(55, 55, 55, 0.4);
    color: rgb(235, 78, 122);
    border-color: rgb(235, 78, 122);

}