.outer-MovieBoard {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}

.topMid {
    width: 99%;
    height: 475px;
    position: relative;
    text-align: center;
    color: #f0f0f0;
    /* margin-left: 6%;
    margin-right: 6%; */
    margin-top: 10px;
    cursor: pointer;
}

.topMid .movieBoardItem {
    opacity: 0.5;
}

.topMid .movieBoardItem .movieBoard-desc {
    top: 63%;
    width: 27%;
    left: 73%;
}

.inner-desc {
    border-radius: 5px;
}

.topMid .movieBoardItem .movieBoard-desc .inner-desc {
    text-align: right;
    background: linear-gradient(to left, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8), rgba(66, 66, 66, 0.0));
    padding-left: 0;
    padding-right: 15px;
}

.topMid .movieBoardItem .movieBoard-desc .inner-desc h2 {
     display: none;
}

.topMid .movieBoardItem .movieBoard-desc .inner-desc p {
    display: none;
    line-height: 1.4;
}

.bot {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.bot-left {
    width: 40%;
}

.bot-right {
    width: 60%;
    color: #f0f0f0;
}

.bot-right h2 {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: right;
    font-size: 1.5rem;
    color: #f0f0f0;
    line-height: 1.4;
    padding-right: 15px;
}

.bLeft, .bMid, .bRight {
    margin: 1% auto;
    width: 97%;
    height: 250px;
    border: 2px solid transparent;
    opacity: 0.6;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}

.bLeft:hover, .bMid:hover, .bRight:hover {
    cursor: pointer;
    border-color: orange;
    opacity: 1;
}

.title-section {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    text-align: left;
    color: #f0f0f0;
    background: linear-gradient(90deg,rgba(5,5,5,.8),rgba(15,15,15,.6),rgba(15,15,15,.4), transparent);
    border-radius: 5px;
    opacity: 1;
    padding-left: 8vw;
    padding-right: 20vw;
    margin: 0;
    z-index: 1000;
    cursor: default;
}

.title-section h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    color: #f0f0f0;
    opacity: 0.9;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 5vh;
}

.title-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    color: rgb(235, 78, 122);
}

.title-section a {
    color: #f0f0f0;
    width: 20%;
}

.title-section button {
    width: 130px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    background: rgb(235, 78, 122);
    border: 3px solid rgb(235, 78, 122);
    border-radius: 25px;
    opacity: 0.7;
}

.title-section button:hover {
    color: rgb(235, 78, 122);
    background: rgba(55, 55, 55, 0.4);
    border-color: rgb(235, 78, 122);
    opacity: 0.7;
    cursor: pointer;
}


@media(max-width:1024px) {
    .topMid {
        width: 97%;
    }

}

@media(max-width:720px) {

    .title-section {
        width: 100%;
        padding: 0;
        text-align: center;
        align-items: center
    }

    .title-section h1 {
        font-size: 5rem;
    }

    .title-section p {
        font-size: 1.5em;
    }

    .bot {
        flex-direction: column;
    }

    .bot-left {
        width: 100%;
    }

    .bot-right {
        width: 100%;
    }

    .bot-right h2 {
        text-align: center;
        padding-right: 0;
    }

    .bot-right .review-container .review-origin {
        width: 100%;
    }

    .bot-right .review-container .review-main {
        display: none;
    }

    .bot-right .review-container .not-mobile{
        margin-top: 10px;
        display: block;
    }
}