.actor-Container {
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: darkgray;
    cursor: pointer;
}

.actor-picture {
   min-width: 100px;
    min-height: 167px;
    max-width: 100px;
    max-height: 167px;
    border: 2px solid transparent;
    border-radius: 5px;
    opacity: 0.6;
    transition: all .4s ease-in-out;
    
}

.actor-picture:hover {
    border-color: orange;
    opacity: 1;
    cursor: pointer;
}

.character-name, .actor-name {
     font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: darkgray;
}

.character-name {
    margin-bottom: 0;
}

.actor-name {
    margin-top: 0;
}