.review-container {
    color: #f0f0f0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-left: 5px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.review-main {
    width: 60%;
    opacity: 0.9;
    font-size: 0.5em;
}

.review-origin {
    width: 200px;
}

.review-title {
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 20px;
}

.review-owner {
    margin: 0;
    margin-left: 20px;
    
}

.review-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}

.review-score-container {
    opacity: 0.8;
    width: 100px;
    height: 100px;
}
.review-score {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.score-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.score-option {
    width: 100px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    outline-width: 0;
    transition: transform 80ms ease-in;
    margin-bottom: 10px;
}

.score-option.update {
    background: none;
    border: 3px solid rgb(235, 78, 122);
}

.score-option.delete {
    background: none;
    border: 3px solid rgb(235, 78, 122);
}

.score-option:hover {
    color: rgb(235, 78, 122);
    background: none;
}

.delete-confirmation {
    font-size: 12px;
    text-align: center;
    display: none;
}

.delete-confirmation p {
    cursor: pointer;
}

.delete-confirmation-yes, .delete-confirmation-no {
    margin-top: 20px;
}

.delete-unhide {
    display: block;
}
