header {
    width: 100%;
    height: 6vh;
    position: fixed;
    top:0;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    background-color: #131517;
    z-index: 1001;
}

.navBar-ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navBar-ul li {
    display: flex;
    align-items: center;
}

.profile {
    color: #f0f0f0;
}

.logo a:visited, .profile a:visited {
    color: #f0f0f0;
}