header {
    width: 100%;
    height: 69px;
    position: fixed;
    top:0;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    background-color: #131517;
    z-index: 1001;
}

.navBar-ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navBar-ul li {
    display: flex;
    align-items: center;
}

.search-bar {
    margin: 0 10% 0 27%;
}
.profile {
    color: #f0f0f0;
}

.logo a, .logo img {
    height: 50px;
}

.profile a {
    color: #f0f0f0;
}

.home a:visited, .profile a:visited {
    color: #f0f0f0;
}