.summary-container {
    color: white;
    display: flex;
    height: 100%;
    width: 95%;
    font-family: 'Roboto', sans-serif;
}

.summary-details {
    display: flex;
}
.summary-title {
    text-transform: uppercase;
    letter-spacing: 3px;
}
.summary-title h2 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.summary-details-left {
    padding: 0;
    list-style-type: none;
    min-width: 50%;
    max-width: 50%;
    line-height: 1.5;
}

.original-lang span {
    text-transform: uppercase;
}
.summary-details-right {
    padding: 0;
    list-style-type: none;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.summary-details-right li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.rr-score {
    height: 100%;
    width: 40%;
    background: rgba(235, 78, 122, 0.8);
}

.imdb-score {
    height: 100%;;
    width: 40%;
    background: rgba(1, 210, 119, 0.7);
    
}
.summary-inner-left {
    width: 60%;
    max-width: 60%;
    padding-left: 1%;
    padding-right: 1%;
}

.summary-container h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.summary-paragraph-container p {
    line-height: 1.4;
    font-size: 1.1rem;
    font-family: "Alegreya Sans", sans-serif;
    margin-bottom: 50px;
}

.summary-inner-right {
    width: 40%;
    max-width: 40%;
    height: 100%;
}

.movie-video {
    border: none;
    height: 100%;
}

