.summary-container {
    color: white;
    height: 100%;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.summary-details {
    display: flex;
    margin-left: 5%;
}

.summary-details li {
    list-style-type: none;
}
.summary-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 5%;
}
.summary-title h2 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.summary-details-left {
    padding: 0;
    list-style-type: none;
    min-width: 50%;
    max-width: 50%;
    line-height: 1.5;
}

.original-lang span {
    text-transform: uppercase;
}
.summary-details-right {
    padding: 0;
    list-style-type: none;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.summary-details-right li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.rr-score {
    width: 40%;
    height: 100%;
    background: rgba(235, 78, 122, 0.8);
}

.imdb-score {
    width: 40%;
    height: 100%;;
    background: rgba(1, 210, 119, 0.7);   
}

.summary-inner-left {
    width: 76%;
    max-width: 76%;
}

.summary-container h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.summary-paragraph-container {
    margin-left: 5%;
}

.summary-paragraph-container p {
    margin-bottom: 50px;
    line-height: 1.4;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.1rem;
}

.summary-inner-right {
    width: 23%;
    max-height: 23%;
}

.splash {
    width: 100%;
    height: 90%;
    border-radius: 5px;
}

@media(max-width:1650px) {
    .splash {
        height: 70%;
    }
}

@media(max-width:1440px) {
    .splash {
        height: 60%;
    }
}

@media(max-width:1280px) {
    .splash {
        height: 50%;
    }
}

@media(max-width:1024px) {


    .summary-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .summary-inner-left {
        width: 100%;
        max-width: 100%;
    }

    .summary-title {
        text-align: center;
        margin-left: 0;
        margin-top: 400px;
    }
    .summary-details {
        margin: 0;
        flex-direction: column-reverse;
    }

    .summary-details-left {
        width: 100%;
        max-width: 100%;
    }

    .summary-paragraph-container {
        margin-left: 0;
    }

    .summary-details-right {
        margin-top: 50px;
        height: 100px;
        width: 100%;
        max-width: 100%;
    }

    .summary-inner-right {
        position: absolute;
        top: 100px;
        left: 38%;
    }

}

@media(max-width:800px) {
    .summary-title {
        margin-top: 300px;
    }
}

@media(max-width:600px) {
    .summary-title {
        margin-top: 220px;
    }
}

@media(max-width:480px) {
    .summary-title {
        margin-top: 150px;
    }
}
