.movieDetail {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
}

.movieDetail-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
}

.movieDetail-bg {
    width: 100%;
    height: 100%;
    filter: blur(10px);
    opacity: 0.3;
}

.main-details {
    margin-top: 10vh;
}

.main-details-divider {
    height: 2px;
    background-image: linear-gradient(90deg, #666, transparent);
    border: 0;
}