body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(245deg, #403651, #1c2933);
  background: radial-gradient(ellipse at 100% 100%, #1C262B 0%, transparent 50%), radial-gradient(ellipse at 70% 0, #1C262B 0%, transparent 50%), radial-gradient(ellipse at 30% 100%, #1C262B 0%, transparent 50%), radial-gradient(ellipse at 10% 0, #1C080F 0%, transparent 50%), linear-gradient(#16060B, #16060B); background-blend-mode: normal;
  margin: 0;
  padding: 0;
  
}

.container {
  overflow: hidden;
}

/* * { word-break: break-all } */