body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(5, 46, 55);
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}