.movieResultsContainer {
    width: 14%;
    margin: 25px;
    opacity: 0.8;
    cursor: pointer;
}

.movieResultsContainer:hover {
    opacity: 1.0;
    
}

.movieResultsPoster {
    /* min-height: 400px;
    min-width: 100%;
    max-width: 100%;
    max-height: 400px; */
    min-width: 170px;
    min-height: 250px;
    max-width: 170px;
    max-height: 250px;
    border: 2px solid transparent;
    background: transparent;
    transition: all .4s ease-in-out;
}

.movieResultsPoster:hover {
    border-color: orange;
}

.movieName {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: darkgrey;
    margin-bottom: 0;
}

.movieGenre {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: darkgray;
    margin-top: 0;
}